POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=enricher_db
DATABASE_URL=postgresql://postgres:change_me_postgres_password@postgres:5432/enricher_db
API_KEY=change_me_api_key
CH_API_KEY=change_me_ch_api_key
INSEE_API_KEY=change_me_insee_api_key
